@font-face {
	font-family: 'helvetica';
	src: url('../fonts/helvetica.eot');
	src: url('../fonts/helvetica.eot?#iefix') format('embedded-opentype'),  url('../fonts/helvetica.woff') format('woff'),  url('../fonts/helvetica.ttf') format('truetype'),  url('../fonts/helvetica.svg#HelveticaLTStdRoman') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    color: white;
    background-color: $secondary-color;
}

.brand {
    .valign-wrapper {
        height: 100vh;
        
        .valign {
            width: 100%;
            
            h1 {
                .brackets {
                    font-family: "Helvetica";

                    span {
                        position: relative;
                        bottom: 0.17em;
                        font-size: 5em;
                        letter-spacing: -40px;
                        
                        @media all and (min-width: $medium-screen-up) {
                            bottom: 0.14em;
                            font-size: 3em;
                            letter-spacing: -30px;
                        }

                        &:nth-child(even){
                            bottom: 0.4em;
                            color: $primary-color;
                        }
                    }
                }
                
                .name {
                    display: inline-block;
                    margin-left: 0.3em;
                    font-size: 1.1em;
                    font-weight: bolder;
                    text-align: left;
                    line-height: 1.1em;
                    
                    @media all and (min-width: $medium-screen-up) {
                        margin-left: 0.3em;
                    }
                }
            }
        }
    }
}

.mobile-only {
    @media all and (min-width: $medium-screen-up) {
        display: none;
    }
}
