---
layout: content
---
<div class="legal">
  <h3>{{site.data.text[page.lang].legal.title}}</h3>
  <p>
    {{site.data.text[page.lang].legal.companyname}}
    <br />
    {{site.data.text[page.lang].legal.address}}
    <br /><br />
    {{site.data.text[page.lang].legal.contactinformation}}
    <br /><br />
    {{site.data.text[page.lang].legal.legalstructure}}
    <br /><br />
    {{site.data.text[page.lang].legal.owner}}
    <br /><br />
    {{site.data.text[page.lang].legal.companyinformation}}
    <br /><br />
    {{site.data.text[page.lang].legal.chamber}}
    <br /><br />
    {{site.data.text[page.lang].legal.companypurpose}}
    <br /><br />
    {{site.data.text[page.lang].legal.legalregulations}}
    <br /><br />
    {{site.data.text[page.lang].legal.tradedescription}}
  </p>
</div>
