---
layout: content
---

<h3>{{site.data.training[page.lang][page.trainingname].title}}</h3>
<p>
    {{site.data.training[page.lang][page.trainingname].description}}
</p>

<div class="row">
    <div class="col s12 l6">
        <h4>{{site.data.training[page.lang][page.trainingname].advantages.title}}</h4>
        <ul>
            {% assign points=site.data.training[page.lang][page.trainingname].advantages.points %}
            {% for point in points %}
            <li>
                <p>{{point}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col s12 l6">
        <h4>{{site.data.training[page.lang][page.trainingname].features.title}}</h4>
        <ul>
            {% assign points=site.data.training[page.lang][page.trainingname].features.points %}
            {% for point in points %}
            <li>
                <p>{{point}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

<div class="row">
    <div class="col s12 l6">
        <h4>{{site.data.training[page.lang][page.trainingname].structure.title}}</h4>
        <ul>
            {% assign points=site.data.training[page.lang][page.trainingname].structure.points %}
            {% for point in points %}
            <li>
                <p>{{point}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<br/>
<p>
    {{site.data.training[page.lang][page.trainingname].bottomline}}
</p>

<br/>
<p>
    <a href="{{site.data.training[page.lang].backtotrainings.link}}">
        {{site.data.training[page.lang].backtotrainings.text}}
    </a>
</p>


