---
layout: content
---

<h3>{{site.data.text[page.lang].trainings.title}}</h3>
<p>
    {{site.data.text[page.lang].trainings.description}}
</p>

<div class="trainings">
  {% assign trainings=site.data.trainings[page.lang] %}
  {% for training in trainings %}
    <a class="training" href="{{training.link}}">
        <div class="logo"><i class="material-icons">{{training.icon}}</i></div>
        <h4>{{training.title}}</h4>
        <p>{{training.description}}</p>
        <p class="topics">{{site.data.text[page.lang].trainings.topics}}: {{training.topics}}</p>
    </a>
  {% endfor %}

</div>
